.fadeTop, .fadeBottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, rgba(246,246,246,0), rgba(246,246,246,1));
}

.fadeBottom {
    top: auto;
    bottom: 68px;
    background: linear-gradient(to bottom, rgba(246,246,246,0), rgba(246,246,246,1));
}

