.screen {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2000;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.window {
    position: fixed;
    /*height: 412px;*/
    /*width: 400px;*/

    background: var(--nord1);
    color: var(--nord6);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 40px;
    gap: 24px;


    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}